#createNewGallery .imageGrid .imageTile {
    background: rgba(0, 0, 0, 0.8);
}

#createNewGallery .imageGrid {
    width: 100%;
}

#createNewGallery #uploadButtonsContainer > * {
    margin-right: 8px;
    margin-left: 8px;
}

#createNewGallery #uploadButtonsContainer > div {
    display: inline;
}

.picker {
    z-index: 1300 !important;
}

#createNewGallery .imageGrid > li {
    width: 16.6667% !important;
}

#createNewGallery #formProgess {
    height: 24px !important;
    width: 24px !important;
}

#createNewGallery #formProgess > svg {
    margin: 2px;
}

@media only screen and (max-width: 1600px) {
    #createNewGallery .imageGrid > li {
        width: 20% !important;
    }
}

@media only screen and (max-width: 1300px) {
    #createNewGallery .imageGrid > li {
        width: 25% !important;
    }
}

@media only screen and (max-width: 1300px) {
    #createNewGallery .imageGrid > li {
        width: 33.333% !important;
    }
}
@media only screen and (max-width: 1000px) {
    #createNewGallery .imageGrid > li {
        width: 50% !important;
    }
}
@media only screen and (max-width: 700px) {
    #createNewGallery .imageGrid > li {
        width: 100% !important;
    }
}