.imageGrid {
    margin: auto;
}

.imageGrid div {
    display: inline-block;
    margin: 4px;
    margin-bottom: 0px;
    height: 200px;
    width: 200px;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    padding: 3px 5px;
    text-align: center;
}

.imageGrid div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.imageGrid div > * {
    display: inline-block;
    vertical-align: middle;
    position: inherit !important;
    max-height: 100% !important;
    max-width: 100% !important;
}