html, body, #root, .container {
    height: 100%;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.TopBar-root-1 {

}

.fillPage {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.fillPage > div {
    flex: 1 ;
}

.fillPage > .noGrow {
    flex-grow: 0;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}
